.tokenomics-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 5rem 0;
}


.hero {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero .heading {
    font-size: 3.5rem;
    text-align: center;
    font-weight: bold;
    color: #1e88e5;
}

.hero .description {
    padding: 20px;
    border-radius: 5px;
    width: 60%;
    text-align: center;
    margin: 0;
}










.grid-layout {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(47%, 1fr));
    gap: 2rem;
    margin-top: 2rem;
}

.grid-item {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    padding: 2rem;
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.17);
    transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
}

.grid-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 16px 40px rgba(31, 38, 135, 0.5);
}

.grid-item h3 {
    font-size: 1.8rem;
    color: #2c3e50;
    margin-bottom: 1rem;
}

.grid-item ul {
    list-style: none;
    padding: 0;
}

.grid-item li::before {
    content: '\2713';
    color: #27ae60;
    margin-right: 0.5rem;
}

.call-to-action {
    text-align: center;
    padding: 3rem 2rem;
    background: linear-gradient(135deg, #2ecc71, #27ae60);
    color: white;
    border-radius: 15px;
    margin-top: 2rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.call-to-action button {
    background: #fff;
    color: #27ae60;
    padding: 1rem 3rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.call-to-action button:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}