/* Relatta Fonts */
// @font-face {
//     src: url(/assets/fonts/Relatta_Saidnolia_Serif.otf);
//     font-family: relatta;
//     font-display: swap;
// }


/* Torque Fonts */
@font-face {
    src: url(/assets/fonts/Torque_Sense.otf);
    font-family: torque;
    font-display: swap;
}


/* Graphik Fonts */
@font-face {
    font-family: 'graphik';
    src: url('/assets/fonts/Graphik/Graphik-Thin-Trial.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'graphik';
    src: url('/assets/fonts/Graphik/Graphik-Extralight-Trial.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'graphik';
    src: url('/assets/fonts/Graphik/Graphik-Light-Trial.otf') format('opentype');
    font-weight: 300; 
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'graphik';
    src: url('/assets/fonts/Graphik/Graphik-Regular-Trial.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'graphik';
    src: url('/assets/fonts/Graphik/Graphik-Medium-Trial.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'graphik';
    src: url('/assets/fonts/Graphik/Graphik-Semibold-Trial.otf') format('opentype');
    font-weight: 600; 
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'graphik';
    src: url('/assets/fonts/Graphik/Graphik-Bold-Trial.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'graphik';
    src: url('/assets/fonts/Graphik/Graphik-Super-Trial.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'graphik';
    src: url('/assets/fonts/Graphik/Graphik-Black-Trial.otf') format('opentype');
    font-weight: 900; 
    font-style: normal;
    font-display: swap;
}