<section class="page-section">
    <div class="container">
        <div class="hero">
            <div>
                <h1 class="page-title text-center">We’re Here to Help!</h1>
                <p>
                    Have questions, feedback, or suggestions? The REAL team would love to hear from you.
                    Connect with us through the following channels and join a community that values your input.
                </p>
            </div>
        </div>


        <h2 class="sub-heading text-center mt-5 mb-3">Have a Property Recommendation?</h2>
        <p class="sub-paragraph mx-auto mb-5">
            At REAL, we’re always looking for new opportunities to expand our property portfolio. If you
            know of a property that could be a great fit for our platform, we’d love to hear from you!
            How to Submit a Property
        </p>
        <div class="card-wrapper mb-4">
            <div class="card card3">
                <div class="icon-wrapper"><i class="fas fa-gavel"></i> </div>
                <h3>Fill Out the Submission Form</h3>
                <p>
                    Click the link below to access our property submission form. Provide the property details,
                    location, and any relevant information to help us understand its potential
                </p>
            </div>
            <div class="card card3">
                <div class="icon-wrapper"> <i class="fas fa-eye"></i></div>
                <h3>Review Process</h3>
                <p>
                    Our team will carefully review your submission. If the property aligns with REAL’s investment
                    criteria and community interests, we’ll follow up with any next steps.
                </p>
            </div>
            <div class="card card3">
                <div class="icon-wrapper"><i class="fas fa-fire"></i> </div>
                <h3>Contribute to REAL’s Growth</h3>
                <p>
                    By submitting a property, you’re helping to shape REAL’s portfolio and create new opportunities
                    for the entire community.
                </p>
                <div class="d-flex justify-content-center">
                    <button class="btn submit-btn">Submit a Property</button>   
                </div>
            </div>
        </div>


        <h2 class="sub-heading text-center mt-5 mb-3">How to Get Involved</h2>
        <div class="card-wrapper mb-4">
            <div class="card card3">
                <div class="icon-wrapper"><i class="fas fa-gavel"></i> </div>
                <h3>Grow the Community’s Portfolio</h3>
                <p>
                    Help us discover new properties that align with our mission.
                </p>
            </div>
            <div class="card card3">
                <div class="icon-wrapper"> <i class="fas fa-eye"></i></div>
                <h3>Earn Recognition</h3>
                <p>
                    Contributors are acknowledged in our community and may have opportunities to discuss their submissions with REAL team members.
                </p>
            </div>
            <div class="card card3">
                <div class="icon-wrapper"><i class="fas fa-fire"></i> </div>
                <h3>Shape REAL’s Future</h3>
                <p>
                    Each property strengthens the platform and provides new benefits for token holders.
                </p>
            </div>
        </div>


        <p class="mission-section">
            Your recommendations are invaluable in helping us bring innovative real estate options to the
            REAL community. Submit your property today, and let’s grow together!
        </p>


        <h2 class="sub-heading text-center mt-5 mb-3">Contact Options</h2>
        <div class="card-wrapper mb-4">
            <div class="card card3">
                <div class="icon-wrapper"><i class="fas fa-gavel"></i> </div>
                <h3>Email Support</h3>
                <p>
                    <strong>General Inquiries:</strong>
                    For any questions, reach out at info@bbdc.io.   
                </p>
                <p>
                    <strong>Support:</strong>
                    Need assistance? Our support team is here to help at support@bbdc.io.
                </p>
            </div>
            <div class="card card3">
                <div class="icon-wrapper"> <i class="fas fa-eye"></i></div>
                <h3>Social Media</h3>
                <p>
                    Stay connected with REAL on social media for real-time updates, announcements, and
                    engaging content. Follow us and join the conversation!
                </p>
                <div class="socialIcon">
                    <a href="https://thisisreal.io/" target="_blank"><i class="fa-solid fa-globe"></i></a>
                    <a href="https://www.youtube.com/@thisisreal_io" target="_blank"><i class="fa-brands fa-youtube"></i></a>
                    <a href="https://x.com/thisisreal_io" target="_blank"><i class="fa-brands fa-x-twitter twitter" alt=""></i></a>
                </div>
            </div>
            <div class="card card3">
                <div class="icon-wrapper"><i class="fas fa-fire"></i> </div>
                <h3>Community Forums</h3>
                <p>
                    Join our community forums to participate in discussions, seek support, and connect with fellow REAL enthusiasts:
                </p>
                <div class="socialIcon">
                    <a href="https://t.me/+iS3SECPvXlAxN2Y5" target="_blank"><i class="fa-brands fa-telegram"></i></a>
                    <a href="https://discord.com/invite/dgMF7CAxvg" target="_blank"><i class="fa-brands fa-discord"></i></a>
                </div>
            </div>
        </div>

    </div>
</section>
<app-contact-form> </app-contact-form>
