.about-section {
    padding: 4rem 0;
    position: relative;
    z-index: 2;

    .about-content {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;

        .about-text {
            flex: 1;

            h2 {
                font-size: 2rem;
                margin-bottom: 1rem;
            }

            p {
                font-size: 1rem;
                color: #666;
                line-height: 1.8;
            }

        }


        .about-image {
            flex: 1;
            text-align: center;
            height: 100%;

            img {
                max-width: 100%;
                border-radius: 10px;
                max-height: 550px;
                width: 100%;
                // object-fit: cover;
            }
        }
    }
}

.values-section {
    padding: 4rem 0;
    text-align: center;

    h2 {
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    .values-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 2rem;

        .value-item {
            background: #fff;
            padding: 2rem;
            border: 1px solid #ddd;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

            h3 {
                font-size: 1.5rem;
                color: #4facfe;
                margin-bottom: 1rem;
            }

            p {
                font-size: 1rem;
                color: #555;
                text-align: justify;
            }
        }
    }

}


.our-team {

    .item-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;

        .item {
            width: calc(50% - 20px);

            .img-container {
                display: flex;
                justify-content: center;
                align-items: center;

            }

            img {
                width: 200px;
                height: 200px;
                object-fit: cover;
                border-radius: 100%;
            }

            h3,
            h4 {
                text-align: center;
            }
        }
    }

}




@media (max-width: 768px) {
    .about-content {
        flex-direction: column;
        text-align: center;
    }
}