.banner {
    background: url('/assets/images/stock/1.jpg');
    color: #fff;
    text-align: center;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        font-size: 3rem;
        margin-bottom: 0.5rem;
    }
}

.about-section {
    padding: 4rem 0;

    .about-content {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        align-items: center;

        .about-text {
            flex: 1;

            h2 {
                font-size: 2rem;
                margin-bottom: 1rem;
            }

            p {
                font-size: 1rem;
                color: #666;
                line-height: 1.8;
            }

        }


        .about-image {
            flex: 1;
            text-align: center;
            height: 100%;

            img {
                max-width: 100%;
                border-radius: 10px;
                max-height: 550px;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}

.values-section {
    padding: 4rem 0;
    text-align: center;

    h2 {
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    .values-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 2rem;

        .value-item {
            background: #fff;
            padding: 2rem;
            border: 1px solid #ddd;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

            h3 {
                font-size: 1.5rem;
                color: #4facfe;
                margin-bottom: 1rem;
            }

            p {
                font-size: 1rem;
                color: #555;
                text-align: justify;
            }
        }
    }

}





@media (max-width: 768px) {
    .about-content {
        flex-direction: column;
        text-align: center;
    }
}