<!-- <section id="about" class="about-section">
    <div class="container">
      <h1 class="about-title text-center">Who We Are</h1>
  
      <div class="about-main">
        <p>
          Welcome to REAL—the Real Estate Alliance League—a community-driven real estate DAO that
          redefines access to property holdings.
        </p>
        <p>
          Built on the Ethereum blockchain, REAL empowers individuals to actively participate in a
          transparent, secure, and decentralized ecosystem, blending blockchain innovation with
          real-world real estate opportunities.
        </p>
        <p>
          Our members aren’t just token holders; they’re a core part of our decision-making community.
          With REAL tokens, holders can influence and interact with the project’s growth, benefiting from
          both a tokenized economy and tangible real estate property opportunities.
        </p>

        <h2 class="text-center mt-5 mb-3">Our Mission</h2>
  
        <div class="mission-section mb-5">
          <p>
            REAL’s mission is to make real estate investment accessible, rewarding, and
            community-focused. By using the Ethereum blockchain’s security and transparency, we provide
            a platform that builds passive income through rental properties.
          </p>
        </div>
        <div class="mission-section mb-5">
          <p>
            The income from rental properties fuels our deflationary model, which enhances token value by
            regularly reducing supply through “Token Burns.” This process creates a long-term,
            member-driven approach to value and exclusivity, all within a fixed supply of 100 million tokens.  
          </p>
        </div>
        <div class="mission-section mb-5">
          <p>
            Our members shape REAL’s future through a DAO structure, making decisions on everything
            from project initiatives to leadership, ensuring that each voice within the community is heard.
          </p>
        </div>
  
        <div class="about-unique mb-5">
            <h2 class="mb-4">What Makes REAL Unique</h2>
            <div class="row">
                <div class="col-xl-8 col-lg-10">
                    <ul>
                        <li><i class="fas fa-lock"></i> 
                          <strong>Transparent & Decentralized:</strong> 
                          REAL is built on the Ethereum blockchain, leveraging its
                          security and transparent framework to deliver a community-driven investment experience.
                        </li>
                        <li><i class="fas fa-users"></i>
                           <strong>Cost-Free Membership:</strong>
                           REAL has no membership fees—just hold REAL tokens to access all
                           platform features, with membership benefits increasing alongside token holdings.
                          </li>
                        <li><i class="fas fa-fire"></i> 
                          <strong>Deflationary Token Model:</strong>
                          With a capped supply and regular token burns, REAL’s
                          deflationary model sustains long-term value and aligns with the growth of the real estate
                          portfolio.
                        </li>
                        <li><i class="fas fa-gavel"></i>
                          <strong>Active Governance:</strong>
                          The DAO gives members direct involvement, from voting on platform
                          upgrades to deciding on token disbursement and even leadership choices, making REAL a truly
                          collaborative project.
                          </li>
                    </ul>
                </div>
            </div>
        </div>
        
  
        <h2>The REAL Platform</h2>
        <p>
          The REAL platform is designed to provide comprehensive tools and resources, giving members
          access to detailed information, governance rights, and a collaborative community environment.<br/>
          Here are the platform’s core use cases:
        </p>
        <ul class="about-list">
            <li><i class="fas fa-eye"></i> 
              <strong>Holdings Transparency:</strong>
              Members can view rental property records and financials, allowing
              them to track the real-world properties generating revenue for the platform. This level of
              transparency builds trust and provides insight into property performance.
            </li>
            <li>
              <i class="fas fa-building"></i> 
              <strong>Property Submission and Review:</strong>
              Members can submit new property suggestions for
              review, contributing to the platform’s real estate portfolio expansion. Each submission is
              carefully reviewed, allowing the community to help shape future opportunities.
            </li>
            <li>
              <i class="fas fa-vote-yea"></i> 
              <strong>Governance and Voting:</strong>
              <div>
                REAL token holders can participate in voting on key aspects of the platform. Members have a say in:
                <ol>
                  <li> Token market disbursement and adjustments </li>
                  <li> Platform upgrades, improvements, and new features </li>
                  <li> Leadership roles and decision-making positions within the platform </li>
                </ol>
              </div>
            
            </li>
            <li>
              <i class="fas fa-comments"></i> 
              <strong>Community Engagement:</strong>
              REAL’s platform fosters an active and interactive community.
              Members have access to a community chat built to engage in real-time discussions with other
              members, share insights, and stay informed about platform updates.
            </li>
            <li>
              <i class="fas fa-file-alt"></i> 
              <strong>Document and Template Access:</strong> 
              The platform provides members with a library of document
              templates, making it easier for users to submit property information, propose ideas, and stay
              organized. This feature simplifies the submission process and ensures that everyone has
              access to standardized forms for efficient communication.
            </li>
            <li>
              <i class="fas fa-fire-alt"></i> 
              <strong>Continuous Token Burn Mechanism:</strong>
              Through profits from rental properties, the organization
              buys REAL tokens from the open market and burns them, reducing supply and supporting token
              value. This feature not only increases the exclusivity of the platform but also adds a uniquelong-term value proposition for all token holders.
            </li>
        </ul>

      </div>
    </div>
</section> -->



<div class="comming-soon">
  <div class="container image-wrapper bg-light">
    <h1>COMING SOON</h1>
  </div>
  <app-contact-form> </app-contact-form>
</div>