/* footer style */
.main {
    width: 1933px;
}

.asd {
    position: absolute;
    z-index: 5;
    width: 1933px;
    height: 480.98px;
    border: 0.46px 0px 0px 0px;
    background-image: url(./images/asd1.png);
    /* background-repeat: repeat-x; */
    /* background-size: cover; */
    opacity: 1;
    /* right: 0rem; */
    bottom: 22rem;
}

.footer {
    max-width: 1933px !important;
    /* Set a max width for the footer */
    margin: 0 auto;
    margin-top: 12rem;
    /* Center the footer horizontally */
    background-image: url(./images/footer.png);
    /* background-size: contain; */
    padding: 20px;
    background-repeat: no-repeat;
    display: flex;
    /* Use flexbox for layout */
    justify-content: space-between;
    /* Space between items */
    opacity: 1;
    /* Set opacity to 1 for visibility */
    position: relative;
    z-index: 4;
    height: 516px;
}

.footer_1 {
    width: 565px;
    height: 107px;
    margin-top: 12rem;
    /* margin-left: 199px; */
    display: flex;
}

.footer_2 {
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
}

.footer_3 {
    font-size: 16px;
    font-weight: 400;
    line-height: 29.25px;
    text-align: left;
    color: #475569;
}

.footerLogo {
    width: 301px;
    height: 301px;
    gap: 0px;
    opacity: 0px;
    justify-content: center !important;

}

.footerLine {
    /* width: 1933px !important;
    background-color: #ddebfb;
    position: relative;
    top: 69px;
    left: -20px;
    gap: 0px;
    opacity: 0px; */
    width: 100%;
    color: #9EC8FF4D;
}

.footer_5 {
    max-width: 100%;
    align-items: center;
}

.socialIcon {

    width: 410.59px;
    height: 40.8px;
    padding: 6px 0px 6.8px 0px;
    position: relative;
    left: 199px;
    gap: 18px;

}