header {
    position: relative;
    z-index: 1000;
}

header .navbar {
    padding: 0 2rem;
}

header .logo-container {
    width: 120px;
    height: 100px;
}

header .navbar img {
    padding: 0;
    width: 100%;
}

header .navbar .navbar-toggler:focus {
    border: 2px solid var(--secondary-green);
    box-shadow: none;
}

header .navbar .navbar-toggler i {
    color: var(--secondary-green);
}

header .navbar .navbar-nav {
    background-color: var(--white);
    border-radius: 100px;
    padding: 3px 20px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    box-shadow: 0 0 26px 0 #0000002b;
}

header .navbar .navbar-nav .nav-item a {
    color: var(--black);
    margin: 4px;
    text-transform: uppercase;
    padding: 2px 4px;
    position: relative;
}

header .navbar .navbar-nav .nav-item a.active::after {
    border-bottom: 1px solid var(--secondary-green);
    padding: 7px 12px;
    content: '';
    position: absolute;
    bottom: 0;
    left: 4px;
    width: 90%;
    height: 1px;
    border-bottom: 2px solid var(--secondary-green);
}

header .navbar .navbar-nav .dropdown .dropdown-item {
    background-color: transparent;
}

header .navbar .navbar-nav .dropdown .dropdown-menu {
    margin-top: 10px;
}

.dropdown-menu[data-bs-popper] {
    left: -66px !important;
}


header .navbar .navbar-nav .dropdown .dropdown-item.active {
    border: none;
    border-radius: 0;
    background-color: var(--secondary-gray);
}

header .navbar .phone-number i,
header .navbar .phone-number span,
header .navbar .phone-number a {
    color: var(--black);
}

header .navbar .phone-number a:hover {
    cursor: pointer;
}

/*--------------- Media Query Section------------- */
@media screen and (max-width: 992px) {
    header .navbar {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
    }

    header .navbar {
        padding: .5rem 0;
    }

    header #navbarContent {
        box-shadow: 0 0 26px 0 #0000002b;
        background-color: var(--white);
        border-radius: 12px;
        padding: 16px 30px;
    }

    header .navbar .navbar-nav {
        justify-content: start;
        align-items: start;
        border-radius: 12px;
        margin: 0 !important;
        box-shadow: none;
        gap: 0;
        padding: 0;
    }

    header .navbar .navbar-nav .nav-item {
        width: 100%;
        border-bottom: 1px solid var(--secondary-gray);
    }

    header .navbar .navbar-nav .nav-item a {
        color: var(--black);
        margin: 0px;
        padding: 7px 12px;
    }

    header .navbar .navbar-nav .nav-item a.active {
        border-bottom: none;
        border-radius: 0;
        background-color: var(--secondary-gray);
    }

    header .navbar .navbar-nav .dropdown .dropdown-item {
        background-color: transparent;
    }

    header .navbar .navbar-nav .dropdown .dropdown-menu {
        margin-top: 0;
        border: none;
        padding-left: 12px;
    }

    header .navbar .navbar-nav .dropdown .dropdown-menu hr {
        display: none;
    }


    header .navbar .navbar-nav .dropdown .dropdown-item.active {
        border: none;
        border-radius: 0;
        background-color: var(--secondary-gray);
    }

    header .navbar .navbar-nav2 {
        flex-direction: column;
        gap: 0 !important;
        padding: 0;

        a {
            padding: 7px 12px;
            width: 100%;
            border-bottom: 1px solid var(--secondary-gray);
        }
    }

    .dropdown-menu[data-bs-popper] {
        left: -0 !important;
        position: relative;
        border: none;
        padding-left: 12px;
        margin: 0;

        hr {
            display: none;
        }

        .dropdown-item {
            padding: 7px 12px;
            border: none;
            border-bottom: none !important;
        }
    }

}