<section class="container text-center text-gray">
    <div class="row justify-content-center mt-4 totalVal">
        <div class="col-12 col-md-6 col-xl-6 d-flex flex-column align-items-start">
            <div class="d-flex align-items-center mb-2">
                <div class="d-flex" style="position: relative; right: 5px;">
                    <img class="w-100" style="height: 5vh;" src="/assets/images/Question_icon.png"
                        alt="Question Icon" />
                </div>
                Total Value Locked
            </div>
            <div class="d-flex">
                <span class="TotalValue">24.33MH</span>&nbsp; USD
            </div>
        </div>
        <div class="col-12 col-md-6 col-xl-6 d-flex flex-column align-items-end">
            <span class="d-flex align-items-center mb-2">
                <span class="d-flex" style="position: relative; right: 5px;">
                    <img class="w-100" style="height: 5vh;" src="/assets/images/Question_icon.png"
                        alt="Question Icon" />
                </span>
                Total Open Organization
            </span>
            <span class="d-flex">
                <span class="TotalValue">1.74B</span>&nbsp; USD
            </span>
        </div>
    </div>
</section>


<section class="container text-center text-gray card1_section mb-3 ">
    <div class="cardSection mt-5">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-12 d-flex flex-column flex-md-row align-items-start card1 p-3">
                <span class="d-flex align-items-center">
                    <img class="cardImg" src="/assets/images/card1.png" alt="Card Image" />
                </span>
                <span class="d-flex flex-column cardContent w-100 mt-3 mt-md-0" style="gap: 16px;">
                    <span class="cardContentTitle TotalValue font-weight-bold" style="text-align: left;">Adapt3r Treasury Bill Fund</span>
                    <span class="cardDesc">
                        Adapt I LP provides non-U.S. investors access to short-term U.S. Treasury Bill yields. The Fund's
                        investment strategy is designed to preserve capital, offer stable returns, and maintain high liquidity.
                        Off-chain assets are custodied by U.S. SEC- and FINRA-regulated broker-dealers.
                        The Fund is incorporated in the British Virgin Islands and is accessible only to qualified non-US
                        investors.
                    </span>
                    <span class="d-flex align-items-center cardDesc">
                        <span>Est. APY:</span>
                        <span class="TotalValue ml-2 font-weight-bold">4.00 - 6.00%</span>
                    </span>
                    <span class="d-flex">
                        <button class="visitBtn d-flex align-items-center">
                            <span class="startText">Go to vault</span>
                            <img src="/assets/images/SVG_margin.png" alt="SVG Icon" class="ml-2" />
                        </button>
                    </span>
                </span>
            </div>
        </div>
    </div>
    
</section>


<section class="container text-center text-gray card1_section mt-3 mb-2">
    <div class="d-flex card3_title p-3">
        PENDING PROPERTIES
    </div>
    <div class="container cardSection mt-5">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-12 d-flex flex-column flex-md-row align-items-start card1 p-3">
                <span class="d-flex flex-column card3_Content w-100 mt-3 mt-md-0" style="gap: 16px;">
                    <span class="cardContentTitle TotalValue font-weight-bold" style="text-align: left;">Adapt3r Treasury Bill Fund</span>
                    <span class="cardDesc">
                        Adapt I LP provides non-U.S. investors access to short-term U.S. Treasury Bill yields. The Fund's
                        investment strategy is designed to preserve capital, offer stable returns, and maintain high liquidity.
                        Off-chain assets are custodied by U.S. SEC- and FINRA-regulated broker-dealers.
                        The Fund is incorporated in the British Virgin Islands and is accessible only to qualified non-US
                        investors.
                    </span>
                    <span class="d-flex align-items-center cardDesc">
                        <span>Est. APY:</span>
                        <span class="TotalValue ml-2 font-weight-bold">4.00 - 6.00%</span>
                    </span>
                    <span class="d-flex mb-3">
                        <button class="visitBtn d-flex align-items-center">
                            <span class="startText">Go to vault</span>
                            <img src="/assets/images/SVG_margin.png" alt="SVG Icon" class="ml-2" />
                        </button>
                    </span>
                </span>
                <span class="d-flex align-items-center">
                    <img class="cardImg" src="/assets/images/card3.png" alt="Card Image" />
                </span>
            </div>
        </div>
    </div>
    
</section>

<section class=" pendingListing container text-center text-gray mb-2 p-3">
    <div class="d-flex justify-content-center align-items-center card3_title p-3 w-100 mb-2">
        PENDING PROPERTIES
    </div>
    <div class="d-flex  justify-content-between pendingProps">
        <span class="d-flex">
            <img class="" src="/assets/images/card3.png" alt="Card Image" />
        </span>
        <span class="d-flex align-items-center ">
            Akshya Nagar 1st Block 1st Cross, Rammurthy nagar, Bangalore-560016
        </span>
        <span class="d-flex align-items-center">
            1.74B USD
        </span>
        <span class=" mb-3 disply align-items-center">
            <button class="visitBtn  d-flex align-items-center">
                <span class="startText">Go to vault</span>
                <img src="/assets/images/SVG_margin.png" alt="SVG Icon" class="ml-2" />
            </button>
        </span>
    </div>
    <span class=" mb-3 display align-items-center">
        <button class="visitBtn d-flex align-items-center">
            <span class="startText">Go to vault</span>
            <img src="/assets/images/SVG_margin.png" alt="SVG Icon" class="ml-2" />
        </button>
    </span>
</section>

<section class="pendingListing container text-center text-gray mb-2 p-3">
    <div class="container Voting w-100">
        <div class="d-flex w-100 voteSection justify-content-between">
            <span class="d-flex align-items-center voting_font">
                Voting                        
            </span>
            <span class="proposalParent">
                <span class=" proposal d-flex align-items-center">
                    Previous Proposal                        
                </span>
                <span class=" proposal d-flex align-items-center">
                    Active Proposal                        
                </span>
            </span>
        </div>
    </div>
</section>
