<section class="page-section">
    <div class="container">
      <div class="hero">
        <div>
          <h1 class="page-title text-center">GOVERNANCE</h1>
          <p>
            At REAL, we are committed to creating a truly decentralized, community-driven platform that
            empowers members to shape the future of real estate. By utilizing a Decentralized Autonomous
            Organization (DAO) structure, we ensure that every member has a voice in guiding the project’s
            development and initiatives.
          </p>
        </div>
      </div>

      
      <h2 class="sub-heading text-center mt-5 mb-3">Decentralized Autonomous Organization (DAO)</h2>
      <p class="mission-section mb-5">
        The REAL DAO enables token holders to actively influence and contribute to the direction of the
        project. By joining the DAO, members gain a unique opportunity to engage with the REAL
        community, propose new ideas, and vote on important decisions. Membership in the DAO
        requires a deposit of 1,000 REAL tokens, with each 1,000 tokens representing one vote. This
        system encourages long-term engagement and participation, with more voting power available
        to members holding a larger stake in the community.<br/>
        Our governance structure is designed to provide meaningful opportunities for involvement,
        giving each member the ability to impact REAL’s evolution and direction.
      </p>
      <h2 class="sub-heading text-center mt-5 mb-3">DAO Membership Benefits</h2>
      <p class="sub-paragraph mx-auto mb-5">
        Membership in the REAL DAO provides exclusive benefits, making each member an integral
        part of the platform. As a DAO member, you can:
      </p>
      <div class="card-wrapper mb-4">
        <div class="card card2">
          <div class="icon-wrapper"><i class="fas fa-gavel"></i> </div>
          <h3>Shape the Platform’s Future:</h3>
          <p>
            Influence key decisions, from new property acquisitions to platform upgrades.
          </p>
        </div>
        <div class="card card2">
          <div class="icon-wrapper">  <i class="fas fa-eye"></i></div>
          <h3>Propose Platform Enhancements</h3>
          <p>
            Suggest ideas and improvements to make the REAL platform more engaging and effective.
          </p>
        </div>
        <div class="card card2">
          <div class="icon-wrapper"><i class="fas fa-fire"></i> </div>
          <h3>Participate in Exclusive Governance Discussions</h3>
          <p>
            Join conversations that drive REAL’s direction, working directly with other members to ensure informed decision-making.
          </p>
        </div>
        <div class="card card2">
          <div class="icon-wrapper">  <i class="fas fa-lock"></i></div>
          <h3>Increase Membership Exclusivity</h3>
          <p>
            With each token burn, the supply decreases, enhancing membership exclusivity and making the REAL community a distinctive space.
          </p>
        </div>
      </div>
      <p class="mission-section mb-5">
        REAL’s DAO structure allows members to not only contribute but also to experience a growing
        level of exclusivity, benefiting from our deflationary model as tokens are burned over time.
      </p>


      <h2 class="sub-heading text-center mt-5 mb-3">Non-Profit Organization</h2>
      <p class="sub-paragraph mx-auto mb-5">
        To support REAL’s goals, a non-profit organization works alongside the DAO, handling critical
        operational tasks like research, management, and overall project development. Here’s how it
        functions
      </p>
      <div class="card-wrapper mb-4">
        <div class="card card2">
          <div class="icon-wrapper"><i class="fas fa-gavel"></i> </div>
          <h3>Responsibilities</h3>
          <p>
            The non-profit ensures that all DAO decisions are implemented effectively,
            maintaining alignment with the community’s vision and priorities. This layer of support allows
            DAO members to focus on big-picture decisions while the non-profit manages day-to-day
            execution.
          </p>
        </div>
        <div class="card card2">
          <div class="icon-wrapper">  <i class="fas fa-eye"></i></div>
          <h3>Election Mechanism</h3>
          <p>
            Every four years, DAO members participate in electing officials for the
            non-profit, reinforcing a democratic, community-oriented approach. This process ensures that
            organizational leadership remains aligned with community interests and adapts to the evolving
            needs of the project.
          </p>
        </div>
      </div>


      <h2 class="sub-heading text-center mt-5 mb-3">Governance Components</h2>
      <p class="sub-paragraph mx-auto mb-5">
        REAL’s governance structure includes multiple components to ensure a balanced, participatory approach
      </p>
      <div class="card-wrapper mb-4">
        <div class="card card2">
          <div class="icon-wrapper"><i class="fas fa-gavel"></i> </div>
          <h3>Governance Proposals</h3>
          <p>
            Any DAO member can submit a proposal to introduce new features,
            allocate funds, or suggest improvements. Proposals may include ideas such as additional
            property types, new platform features, or strategic partnerships to expand REAL’s reach and
            value.
          </p>
        </div>
        <div class="card card2">
          <div class="icon-wrapper">  <i class="fas fa-eye"></i></div>
          <h3>Non-Profit Representation</h3>
          <p>
            The non-profit upholds the best interests of token holders,
            ensuring all DAO decisions are ethically and transparently implemented. This layer of
            representation adds an additional level of accountability and consistency to our governance
            model.
          </p>
        </div>
        <div class="card card2">
            <div class="icon-wrapper"><i class="fas fa-gavel"></i> </div>
            <h3>Governance Discussions</h3>
            <p>
                Once a proposal is submitted, it enters a discussion period where
                DAO members can offer feedback, share concerns, and contribute insights. This collaborative
                approach ensures that each proposal receives comprehensive consideration before moving
                forward.
            </p>
        </div>
        <div class="card card2">
            <div class="icon-wrapper">  <i class="fas fa-eye"></i></div>
            <h3>Governance Voting</h3>
            <p>
                After the discussion period, eligible token holders vote on proposals.
                With each 1,000 REAL tokens representing one vote, members play an active role in deciding
                which ideas become part of the REAL platform. A majority consensus determines the outcome,
                ensuring fair representation.
            </p>
        </div>
      </div>


      <h2 class="sub-heading text-center mt-5 mb-3">Decentralized Decision-Making</h2>
      <p class="sub-paragraph mx-auto mb-5">
        The REAL governance model empowers members to take part in key decision-making
        processes and is guided by the following principles:
      </p>
        <div class="card-wrapper mb-4">
            <div class="card card2">
            <div class="icon-wrapper"><i class="fas fa-gavel"></i> </div>
            <h3>Transparency</h3>
            <p>
                All proposals, discussions, and voting outcomes are publicly accessible,
                fostering accountability and building trust within the community. Members can review
                governance actions and outcomes through regular reports, providing a clear view into the
                platform’s ongoing development.
            </p>
            </div>
            <div class="card card2">
            <div class="icon-wrapper">  <i class="fas fa-eye"></i></div>
            <h3>Inclusivity</h3>
            <p>
                Every REAL token holder has the opportunity to participate in governance,
                regardless of their stake. This inclusivity ensures that all voices are heard and valued, creating a
                diverse, representative community that shapes REAL’s direction.
            </p>
            </div>
            <div class="card ">
                <div class="icon-wrapper"><i class="fas fa-gavel"></i> </div>
                <h3>Adaptability</h3>
                <p>
                    The REAL governance framework is designed to evolve in response to the
                    community’s needs and the blockchain landscape. By remaining flexible, REAL can adapt to
                    emerging opportunities, ensuring relevance and resilience as the project grows.
                </p>
            </div>
        </div>

    </div>
</section>