<div class="side-drawer">
    <div class="arrow">
        <i class="fa-solid fa-chevron-up"></i>
    </div>
    <div class="content">
        <a href="https://thisisreal.io/" target="_blank"><i class="fa-solid fa-globe web"></i></a>
        <a href="https://www.youtube.com/@thisisreal_io" target="_blank"><i
                class="fa-brands fa-youtube youtube"></i></a>
        <a href="https://x.com/thisisreal_io" target="_blank"><i
                class="fa-brands fa-x-twitter twitter"></i></a>
        <a href="https://t.me/+iS3SECPvXlAxN2Y5" target="_blank"><i
                class="fa-brands fa-telegram telegram"></i></a>
        <a href="https://discord.com/invite/dgMF7CAxvg" target="_blank"><i
                class="fa-brands fa-discord discord"></i></a>
    </div>
</div>
<app-header></app-header>
<div class="content">
    <router-outlet></router-outlet>
</div>
<app-footer></app-footer>
