<footer id="footer" class="bg-light text-center  ">
    <div class=" text-center justify-content-center  container flex-wrap footer ">
        <div class="asd"></div> 
        <div class="d-flex footer_5 ">
        <div class="d-flex flex-column footer_1">
            <span class="d-flex flex-column">
                <span class="d-flex footer_2">
                    Connect With Us
                </span>
                <span class="d-flex flex-wrap footer_3" >
                    Follow us on social media for real-time updates and engaging content. Learn about upcoming
                    events, partnerships, and community initiatives.
                </span>
            </span>
            <span class="d-flex flex-column mt-5">
                <span class="d-flex footer_2">
                    Contact Us
                </span>
                <span class="d-flex footer_3">
                    Have questions or feedback? We're here to assist you! 
                    <a href="./contact.html" class="ml-3">Contact Us</a>
                </span>
            </span> 
        </div>
        
        <span class="d-flex footerLogo">
            <img src="/assets/images/footerLogo.png" />
        </span>

        <div class="footer_1 footer_4">
            <span class="d-flex flex-column">
                <span class="d-flex footer_2">
                    Products
                </span>
                <span class="d-flex flex-wrap footer_3" style="width:255px;height:59px">
                    Tokenization protocol<br>
                    White-label platform
                </span>
            </span>
            <span class="d-flex flex-column">
                <span class="d-flex footer_2">
                    Learn
                </span>
                <span class="d-flex flex-wrap footer_3" style="width: 93px;height: 117px;">
                    Tokenization
                    Blockchain
                    Company
                    Newsroom
                </span>
            </span> 
        </div>
    </div>

    <div class="socialIcon hideSocialIcon">
        <!-- <a href="#"><img src="./images/email.png"/></a>
        <a href="#"><img src="./images/facebook.png"/></a>
        <a href="#"><img src="./images/twittwe.png"/></a>
        <a href="#"><img src="./images/telegram.png"/></a>
        <a href="#"><img src="./images/asf.png"/></a>
        <a href="#"><img src="./images/discord.png"/></a>
        <a href="#"><img src="./images/linkedIn.png"/></a> -->
    </div>

    <div class="copyright" style="padding-top: 11rem" >
        <p>&copy; 2024 real.io | All rights reserved.</p>
    </div>

    <div class="footerLine">
        <img src="assets/images/footerLine.png" />
        <span class="d-flex justify-content-between  ">

            <div class="socialIcon">
                <!-- <a href="#"><img src="./images/email.png"/></a>
                <a href="#"><img src="./images/facebook.png"/></a>
                <a href="#"><img src="./images/twittwe.png"/></a>
                <a href="#"><img src="./images/telegram.png"/></a>
                <a href="#"><img src="./images/asf.png"/></a>
                <a href="#"><img src="./images/discord.png"/></a>
                <a href="#"><img src="./images/linkedIn.png"/></a> -->
            </div>
            <div class="" style="position: relative; right: 199px;color: #475569;">
                <p>&copy; 2024 real.io | All rights reserved.</p>
            </div>
        </span>
    </div>
    </div>
</footer>