<footer class="container footer ">
    <div class="asd"></div> 
    <div class="content">
        <span class="footerLogo">
            <img src="/assets/images/logo.png" />
        </span>
        <div class="row justify-content-between mt-md-0 mt-5">
            <div class=" col-lg-4 mt-lg-0 mt-5">
                <p class="heading mt-lg-0 mt-5"> Connect With Us </p>
                <p class="description" >
                    Follow us on social media for real-time updates and engaging content. Learn about upcoming
                    events, partnerships, and community initiatives.
                </p>
                <div class="socialIcon">
                    <a href="https://thisisreal.io/" target="_blank"><i class="fa-solid fa-globe"></i></a>
                    <a href="https://www.youtube.com/@thisisreal_io" target="_blank"><i class="fa-brands fa-youtube"></i></a>
                    <a href="https://x.com/thisisreal_io" target="_blank"><img src="/assets/images/x.svg" alt=""></a>
                    <a href="https://t.me/+iS3SECPvXlAxN2Y5" target="_blank"><i class="fa-brands fa-telegram"></i></a>
                    <a href="https://discord.com/invite/dgMF7CAxvg" target="_blank"><i class="fa-brands fa-discord"></i></a>
                </div>
            </div>
            <!-- <span class="col-md-3"></span> -->
            <div class="col-lg-4 h-100">
                <div class="heading"> Contact Us </div>
                <p class="description">
                    Have questions or feedback? 
                    <a routerLink="/contact-us" class="ml-3"> We're here to assist you! </a>
                </p>
            </div> 
        </div>
    </div>
    <div class="copyrights">
        <p class="text-center">&copy; 2024 real.io | All rights reserved.</p>
    </div>
</footer>