.main {
    width: 1933px;
}

.asd {
    position: absolute;
    z-index: 5;
    width: 1933px;
    height: 480.98px;
    border: 0.46px 0px 0px 0px;
    background: url('/assets/images/asd1.png');
    opacity: 1;
    bottom: 22rem;
}

.footer {
    max-width: 1933px !important;
    margin: 0 auto;
    margin-top: 12rem;
    background: url('/assets/images/footer.png');
    padding: 20px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    opacity: 1;
    position: relative;
    z-index: 4;
    height: 516px;
}

.footer_1 {
    width: 565px;
    height: 107px;
    margin-top: 12rem;
    display: flex;
}

.footer_2 {
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
}

.footer_3 {
    font-size: 16px;
    font-weight: 400;
    line-height: 29.25px;
    text-align: left;
    color: #475569;
}

.footerLogo {
    width: 301px;
    height: 301px;
    gap: 0px;
    opacity: 0px;
    justify-content: center !important;

}

.footerLine {
    width: 100%;
    color: #9EC8FF4D;
}

.footer_5 {
    max-width: 100%;
    align-items: center;
}

.socialIcon {
    width: 410.59px;
    height: 40.8px;
    padding: 6px 0px 6.8px 0px;
    position: relative;
    left: 199px;
    gap: 18px;

}