.banner2 {
    background: url('/assets/images/stock/12.jpg');
    background-position: bottom;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

.about-section {
    padding: 4rem 0;

    .about-content {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        align-items: center;

        .about-text {
            flex: 1;

            h2 {
                font-size: 2rem;
                margin-bottom: 1rem;
            }

            p {
                font-size: 1rem;
                color: #666;
                line-height: 1.8;
            }

        }


        .about-image {
            flex: 1;
            text-align: center;
            height: 100%;

            img {
                max-width: 100%;
                border-radius: 10px;
                max-height: 550px;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}