<!-- <section class="community-section">
    <div class="container">
        <div class="hero">
            <h1 class="heading">Community</h1>
            <p class="description"> At REAL, we believe our strength lies in the active involvement of our community members. Whether you’re a token holder, developer, crypto enthusiast, or just exploring, REAL offers a unique space for everyone to learn, connect, and make a tangible impact on the platform’s growth. </p>
        </div>
        <div class="community-content">
            <div class="community-text">
            <h2>Why Join the REAL Community?</h2>
            <strong>Play an Active Role in REAL’s Future</strong>
            <p>
                Joining the REAL community means more than just holding tokens—it’s about being an essential part of a project that’s reshaping real estate through blockchain. Token holders are invited to actively participate in REAL’s governance, helping make decisions that guide our growth and long-term vision.
            </p>
            <strong>Shape the Platform Through Governance</strong>
            <p>
                As a REAL token holder, you’re a valued member of our Decentralized Autonomous Organization (DAO). Through the DAO, each holder can submit ideas, discuss important topics, and vote on key decisions, from property acquisitions to platform enhancements.
            </p>
            <strong>Connect and Collaborate with Like-Minded Members</strong>
            <p>
                The REAL community is made up of people who share a commitment to innovation, transparency, and decentralized decision-making. Connect with a network of individuals who bring diverse insights and experiences, from blockchain beginners to real estate professionals.
            </p>
    
            <h2 class="mt-5">How to Get Involved</h2>
            <strong>Participate Actively in Governance</strong>
            <p>
                As a DAO member, each token holder has the power to propose and vote on changes. With every 1,000 REAL tokens representing one vote, members are empowered to shape REAL’s future collectively.
            </p>
            <strong>Engage with the Community on Social Media</strong>
            <p>
                REAL thrives on open communication and collaboration. Join us on Discord, Telegram, and other social platforms to stay informed, ask questions, and engage with fellow members.
            </p>
            <strong>Bring Your Ideas and Contribute to REAL’s Growth</strong>
            <p>
                Got an idea for a new feature or property opportunity? The REAL platform encourages its community members to contribute ideas that will drive our progress.
            </p>
    
            <h2 class="mt-5">A Community That Grows With You</h2>
            <p>
                At REAL, we’re not just building a platform—we’re creating a dynamic ecosystem powered by its members. The REAL community is a place to learn, connect, and contribute to something meaningful.
            </p>
            </div>
        </div>
    </div>
</section> -->

<div class="comming-soon">
    <div class="container image-wrapper bg-light">
      <h1>COMING SOON</h1>
    </div>
    <app-contact-form> </app-contact-form>
</div>