// /* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    src: url(assets/fonts/Relatta_Saidnolia_Serif.otf);
    font-family: relatta;
    font-display: swap;
}

@font-face {
    src: url(assets/fonts/Torque_Sense.otf);
    font-family: torque;
    font-display: swap;
}


// * {
//     box-sizing: border-box;
//     margin: 0;
//     padding: 0;
//     font-family: "Poppins", sans-serif;
// }

* {
    font-family: "Poppins", sans-serif;
}

:root {
    /* Primary Colors */
    --primary-dark: #242f40;
    --primary-light: #dbe0d6;

    /* Secondary Colors */
    --secondary-green: #708c69;
    --secondary-orange: #b87d4b;
    --secondary-gray: #bdd3ce;

    /* Additional Colors */
    --black: #000000;
    --white: #ffffff;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
}

p {
    margin-top: 20px !important;
}

.backgroundImage {
    background-image: url(assets/images/background.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 1;
    bottom: 0;
}



.whitepaper {
    padding: 0 16px;
    font-size: 16px;
    cursor: pointer;
}

.whitepaper1 {
    padding: 0 16px;
    font-size: 16px;
    cursor: pointer;
}

.modal-backdrop.show {
    opacity: 0.4 !important;
    position: relative;
    z-index: -1 !important;
}


.EN {
    font-size: 14px;
    font-weight: 400;
    color: #006FFF;
}

.vector img {
    width: 14px;
    height: auto;
    display: flex;
    align-items: center;
}


.startText {
    margin-right: 5px;
}

.aboutContainer {
    width: 1514px;
    height: 590px;
    top: 924px;
    left: 199px;
    gap: 0px;
    border-radius: 40px 40px 40px 40px;
    opacity: 0px;
}

.token_main {
    margin-top: 30px;
}

input.form-control {
    display: block !important;
    visibility: visible !important;
    width: 100%;
}

.title {
    font-size: 42px;
    font-weight: 900;
    line-height: 48px;
    text-align: center;
    height: 48px;
}

.contact_image {
    position: relative;
    background-image: url('assets/images/contact.png');
    background-size: cover;
    height: 464px;
    border-radius: 80px;
    overflow: hidden;
}

.contact_image::before {
    content: '';
    position: absolute;
    top: 20px;
    left: 20px;
    background-image: url('assets/images/balls.png');
    background-size: contain;
    width: 100%;
    height: 100vh;
    z-index: 1;
}

.contact_0 {
    font-size: 42px;
    font-weight: 900;
    line-height: 48px;
    text-align: center;
    color: #FFFFFF;
    width: 100%;
    display: flex;
    justify-content: center;
}

.contact_1 {
    position: relative;
    z-index: 9;
    width: 97%;
    height: 169px;
    gap: 45px;
    display: flex;
    margin-top: 4rem;
    align-items: center;
}

.contact_2 {
    width: 50%;
    height: 169px;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.contact_3 {
    width: 664px;
    height: 169px;
    padding: 27px 6.61px 6.61px 23.79px;
    gap: 6.61px;
    border-radius: 21px 21px 21px 21px;
    border: 1.32px 0px 0px 0px;
    opacity: 0px;
    display: flex;
    align-items: flex-start;
}



.form-control {
    width: 316px;
    height: 62px;
    gap: 6.61px;
    border-radius: 21px 0 0 0;
    border: 1.32px solid transparent;
    background-color: rgba(255, 255, 255, 0);
}

.form-group {
    position: relative;
}

.mat-form-field {
    width: 316px;
    height: 62px;
    padding: 16px 6.61px 16px 23.79px;
    border-radius: 21px 21px 21px 21px;
    border: 1.32px solid #AEBED7;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 6.61px;
}

.emailField {
    width: 100%;
    height: 62px;
    padding: 16px 6.61px 16px 23.79px;
    border-radius: 21px 21px 21px 21px;
    border: 1.32px solid #AEBED7;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 6.61px;
}

.textarea {
    width: 100%;
    height: 100%;
    padding: 16px 6.61px 16px 23.79px;
    border-radius: 21px 21px 21px 21px;
    border: 1.32px solid #AEBED7;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 6.61px;
}

.mat-label {
    position: absolute;
    top: -10px;
    left: 23.79px;
    font-size: 14px;
    color: #999;
    transition: all 0.2s ease-in-out;
}

.mat-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    border-radius: 21px;
    background: transparent;
    color: #FFFFFF;
}


.mat-input::placeholder {
    color: #FFFFFF;
    opacity: 1;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
}

.mat-input1 {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    border-radius: 21px;
    background: transparent;
    color: #FFFFFF;
    position: relative;
}

.mat-input1::placeholder {
    color: #FFFFFF;
    opacity: 1;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;

}

.mat-input1:focus+.mat-label,
.mat-input1:not(:placeholder-shown)+.mat-label {
    top: -10px;
    left: 10px;
    font-size: 14px;
    color: #FFFFFF;
}

.mat-input:focus+.mat-label,
.mat-input:not(:placeholder-shown)+.mat-label {
    top: -18px;
    left: 23.79px;
    font-size: 12px;
    color: #6200ea;
}

.msgBtn {
    width: 311px;
    height: 50px;
    top: 4413px;
    left: 1320px;
    padding: 5px 10px 5px 16px;
    border: none;
    border-radius: 99px 99px 99px 99px;
    opacity: 0px;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #006FFF;
    color: #FFFFFF;
}

// @media (max-width: 992px) {
//     .footer_4 {
//         display: none !important;
//     }

//     .logo {
//         max-width: 120px;
//     }

//     .whitepaper {
//         font-size: 15px;
//     }

//     .EN {
//         font-size: 13px;
//     }

//     .aboutMain {
//         flex-direction: column;
//     }

//     .d-flex.aboutMain.w-100.justify-content-between.col-12.col-xl-6.col-lg-6.col-md-12.col-sm-12 {
//         gap: 5px !important;
//     }

//     .hero_title {
//         width: 692.4px;
//         height: 530.6px !important;
//         top: 251px;
//         left: 199px;
//         gap: 0px;
//         opacity: 0px;
//     }

//     .token_1 {
//         width: 100% !important;
//     }

//     .tokenImg {
//         display: none !important;
//     }



//     .tokenomicSection {
//         flex-direction: column !important;
//     }

//     .title {
//         font-size: 30px !important;
//     }

//     .comuunity {
//         flex-direction: column !important;
//     }

//     .governance {
//         margin-top: 7rem !important;
//         display: flex;
//         align-items: center !important;
//     }

//     .gover_img {
//         width: 408px;
//         height: 334.69px;
//     }


//     .contact_image {
//         margin-top: 8rem !important;
//     }

//     .contact_1 {
//         flex-direction: column !important;
//     }

//     .two_field {
//         flex-direction: column !important;
//         width: 100%;
//     }

//     .contact_2 {
//         width: 100% !important;
//     }

//     .contact_image {
//         height: 700px !important;
//     }

//     .textarea {
//         margin-top: 79px !important;
//         width: 100% !important;
//     }

//     .msgBtn {
//         margin-top: 17rem;
//         width: 15rem;
//         height: 40px;
//     }

//     .footer {
//         padding: 0 !important;
//         max-width: 100%;
//     }

//     .socialIcon {
//         position: relative;
//         top: 3rem;
//     }

//     .footer_1 {
//         width: 100%;
//         margin-top: 12rem;
//         margin-left: 0;
//         flex-direction: column;
//         margin-top: 8rem;
//         padding-left: 1rem;
//     }

//     .footer_2 {
//         font-size: 14px !important;
//     }

//     .footer_3 {
//         font-size: 11px !important;
//         width: 100%;
//     }

//     .asd {
//         width: 100% !important;
//     }

//     .footerLogo {
//         width: 100%;
//         height: 15vh;
//         opacity: 0px;
//         position: relative;
//         top: 5rem;
//         justify-content: center;

//     }

//     .socialIcon {
//         width: 100%;
//         position: relative;
//         left: 0;
//         top: 6rem;
//         text-align: start;
//     }

//     .copyright {
//         position: relative;
//         width: 100%;
//         right: 0 !important;
//         color: #475569;
//         text-align: center;
//     }

//     .footerLine {
//         display: none !important;
//     }

//     .footer_5 {
//         position: relative;
//         width: 100%;
//         align-items: center;
//     }
// }


// @media (max-width: 576px) {

//     .about_video {
//         height: 32vh !important;
//         margin-top: 9rem !important;
//     }

//     .footer_3 {
//         margin-bottom: 0 !important;
//     }
//     .header {
//         padding: 10px 0;
//     }

//     .logo {
//         max-width: 60% !important;
//         padding-left: 1rem;
//     }

//     .getStarted {
//         justify-content: center;
//     }

//     .whitepaper {
//         padding: 0 8px;
//         font-size: 14px;
//     }

//     .EN {
//         font-size: 12px;
//     }

//     .getStarted>* {
//         margin-bottom: 10px;
//     }

//     .darkTheme {
//         margin-left: 0 !important;
//     }

//     .mat-form-field {
//         width: 100%;
//     }

//     .real_1 {
//         font-size: 38px;
//         width: 22rem;
//         padding-left: 1rem !important;
//     }

//     .real_2 {
//         font-size: 25.6px;
//         width: 91%;
//         padding-left: 1rem !important;
//     }

//     .real_3 {
//         font-size: 18.8px;
//         width: 22rem;
//         padding-left: 1rem !important;
//         padding-top: 1rem;
//     }

//     .real_4 {
//         width: 21rem;
//         padding-left: 1rem !important;
//     }

//     .hero_title {
//         width: 22rem;
//     }

//     img.about {
//         width: 58%;
//     }

//     .token_main {
//         /* margin-top: 30px; */
//         width: 94%;
//         margin-bottom: 2rem;

//     }

//     .tokenImg {
//         display: none;
//     }

//     .token_title {
//         width: 100%;
//         font-size: 25px;
//         font-weight: 700;
//         text-align: center;

//     }

//     .token_1 {
//         width: 100% !important;
//         padding-left: 1rem !important;
//     }

//     .row {
//         margin-top: 3rem !important;
//         margin-left: 0 !important;
//         margin-right: 0 !important;
//     }

//     .tokenImg_ {
//         width: 70% !important;
//         height: auto !important;
//         margin-top: 1rem;
//     }

//     .hide {
//         display: none !important;
//     }

//     .gover_img {
//         width: 50% !important;
//         height: 30vh !important;
//     }

//     .community_1 {
//         width: 100% !important;
//     }

//     .governance {
//         margin-top: 4rem !important;
//     }

//     .desktopHeader {
//         display: none !important;
//     }

//     .footer {
//         padding: 0 !important;
//         max-width: 100%;
//         /* height: 400px; */
//     }

//     .socialIcon {
//         position: relative;
//         top: 3rem;
//     }

//     .footer_1 {
//         width: 100%;
//         margin-top: 12rem;
//         margin-left: 0;
//         flex-direction: column;
//         margin-top: 8rem;
//         padding-left: 1rem;
//     }

//     .footer_2 {
//         font-size: 14px !important;
//     }

//     .footer_3 {
//         font-size: 11px !important;
//         width: 100%;
//         position: relative;
//     }

//     .asd {
//         width: 100% !important;
//     }

//     .footerLogo {
//         width: 100%;
//         height: 15vh;
//         opacity: 0px;
//         position: relative;
//         top: 9rem;

//     }



//     .socialIcon {
//         width: 100%;
//         position: relative;
//         left: 1rem;
//         text-align: start;
//         top: 7rem;
//     }

//     .copyright {
//         position: relative;
//         width: 100%;
//         right: 0 !important;
//         color: #475569;
//         text-align: center;
//     }

//     .footerLine {
//         display: none !important;
//     }

//     .footer_4 {
//         display: none;
//     }


//     .msgBtn {
//         margin-top: 15rem;
//         width: 15rem;
//         height: 40px;
//     }

//     .community_1 {
//         width: 648px;
//     }

//     section#about {
//         padding-bottom: 0 !important;
//     }

//     section#tokenCommitment {
//         padding-top: 0 !important;
//     }
// }


// @media (min-width: 992px) {
//     .tokenImg {
//         display: flex;
//     }

//     .hideSocialIcon {
//         display: none;
//     }

//     .copyright {
//         display: none;
//     }

//     .governance {
//         width: 63%;
//     }

// }

// @media (min-width:576px) {

//     .hide_ {
//         display: none !important;
//     }

//     .pos-f-t {
//         display: none !important;
//     }
// }


// .copyright {
//     position: relative;
//     right: 199px;
//     color: #475569;
// }


// .d-flex.aboutMain.w-100.justify-content-between.col-12.col-xl-6.col-lg-6.col-md-12.col-sm-12 {
//     gap: 5px !important;
// }