<!-- Hero Section -->
<div class="backgroundImage">
    <section class="hero text-center text-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-12 mx-auto content">
                    <h1 class="title">Welcome to REAL</h1>
                    <h2 class="sub-title">REAL is a community-driven Real Estate DAO with a deflationary twist!</h2>
                    <h3 class="options">
                        <span class="option1"> REAL Estate </span>
                        <span class="option2"> REAL Token </span>
                        <span class="option3"> REAL Value </span>
                    </h3>
                    <p class="description">
                        Our mission is to create a real world use-case on the Ethereum blockchain by
                        tokenizing the real-estate experience in the form of a deflationary crypto token.
                    </p>
                </div>
            </div>
    
            <div class="d-flex justify-content-center d-lg-none d-block pb-5 globe">
                <img src="/assets/images/globe.gif" alt="">
            </div>
    
            <owl-carousel-o [options]="customOptions">
                <ng-container *ngFor="let slide of carouselData">
                    <ng-template class="slide" carouselSlide [id]="slide.id">
                        <img [src]="slide.image" alt="" title="">
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
        </div>
    </section>
</div>


<!-- About Section -->
<section class="about bg-light pad">
    <div class="container">
        <div class="wrapper">
            <h2 class="text-center main-heading mb-4">What is REAL?</h2>
            <div class="row">
                <div class="col-lg-6 mb-lg-0 mb-4">
                    <div class="accordion" id="factionAccordion">
                        <div class="accordion-item mb-3" *ngFor="let item of factions; let index = index" [id]="'accordionItem' + index" >
                            <div class="accordion-header d-flex justify-content-between align-items-center" [id]="'heading' + index" >
                                <div class="accordion-button d-flex align-items-center" [class.collapsed]="activeIndex !== index" type="button"
                                (mouseenter)="openAccordion(index)" (mouseleave)="closeAccordion(index)"
                                (click)="toggleAccordion(index)" [attr.aria-expanded]="activeIndex === index" [attr.aria-controls]="'collapse' + index" >
                                {{ item.name }}
                                </div>
                            </div>
                            <div [id]="'collapse' + index" class="accordion-collapse collapse" [class.show]="activeIndex === index" data-bs-parent="#factionAccordion" >
                                <div class="accordion-body">
                                <p>{{ item.description }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <video class="about_video" id="video" loop controls style="width: 100%; height: auto;"
                        autobuffer="true"
                        poster="https://res.cloudinary.com/db8yg1ovm/image/upload/v1733922182/RealState/zmpzy3gaugbue9adcm9l.webp">
                        <source src="/assets/videos/about.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
            <div class="d-flex justify-content-center mt-4">
                <a routerLink="/about-us" class="readmore">
                    <span>Read More</span>
                    <i class="fa-solid fa-chevron-up"></i>
                </a>
            </div>
        </div>
    </div>
</section>

<!-- Token Commitment Section -->
<section class="tokenCommitment pad pt-0">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center flex-lg-row flex-column">
            <h2 class="main-heading">Simple Attributes to REAL</h2>
            <span class="tokenImg">
                <img src="/assets/images/tokenImg.png" />
            </span>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="card-wrapper">
                    <div class="d-flex align-items-center mb-3 gap-4">
                        <div class="icon-wrapper">
                            <img src="/assets/images/icon1.png" alt="Community" />
                        </div>
                        <div class="title">
                            No Membership Fee
                        </div>
                    </div>
                    <div class="description">
                        By using profits from token sales, building a stream of passive income
                        that allows REAL to provide platform services at no-cost to token holders/members.
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="card-wrapper">
                    <div class="d-flex align-items-center mb-3 gap-4">
                        <div class="icon-wrapper">
                            <img src="/assets/images/icon2.png" alt="Community" />
                        </div>
                        <div class="title">
                            Decentralized Creation
                        </div>
                    </div>
                    <div class="description">
                        REAL is minted on the Ethereum blockchain, ensuring transparency
                        and security through decentralized technology.
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="card-wrapper">
                    <div class="d-flex align-items-center mb-3 gap-4">
                        <div class="icon-wrapper">
                            <img src="/assets/images/icon3.png" alt="Community" />
                        </div>
                        <div class="title">
                            Community-Driven
                        </div>
                    </div>
                    <div class="description">
                        Our community is at the heart of REAL. Join us on Discord and Telegram
                        to discuss ideas and vote on important decisions that shape our project.
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="card-wrapper">
                    <div class="d-flex align-items-center mb-3 gap-4">
                        <div class="icon-wrapper">
                            <img src="/assets/images/icon4.png" alt="Community" />
                        </div>
                        <div class="title">
                            Token Mechanism
                        </div>
                    </div>
                    <div class="description">
                        REAL maintains a fixed supply of tokens to preserve value, with
                        mechanisms in place for token burning to reduce overall supply over time.
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-center">
                <a routerLink="/token-commitment" class="readmore">
                    <span>Read More</span>
                    <i class="fa-solid fa-chevron-up"></i>
                </a>
            </div>

        </div>
    </div>
</section>

<!-- Community Section -->
<section class="community bg-light pad">
    <div class="container">
        <div class="row">
            <h2 class="text-center main-heading">Join Our Community!</h2>
            <div class="col-lg-6 mx-auto">
                <div class="d-flex flex-column align-items-center ">
                    <div class="image-wrapper">
                        <img src="/assets/images/community.png" />
                    </div>
                    <p class="description">
                        Whether you're new to crypto, new to real estate, or a seasoned investor, there's a place for
                        you
                        at REAL. Explore opportunities to contribute to REAL community-driven initiatives.
                    </p>
                    <div class="d-flex justify-content-center">
                        <a routerLink="/community" class="readmore">
                            <span>Read More</span>
                            <i class="fa-solid fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Contact Us  -->
<app-contact-form></app-contact-form>