<!-- Hero Section -->
<section class="hero text-center text-gray ">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-12 mx-auto">
                <h1 class="title">Welcome to REAL</h1>
                <h2 class="sub-title">REAL is a community-driven Real Estate DAO with a deflationary twist!</h2>
                <h3 class="options mt-3 mt-5 mb-5">
                    <span class="option1"> REAL Estate. </span>
                    <span class="option2"> REAL Token. </span>
                    <span class="option3"> REAL Value </span>
                </h3>
                <p class="description"> Our mission is to create a real world use-case on the Ethereum blockchain by tokenizing the real-estate experience in the form of a deflationary crypto token. </p>
            </div>
        </div>
    </div>
</section>

<!-- About Section -->
<section class="about bg-light py-5">
    <div class="container">
        <div class="wrapper">
            <h2 class="text-center main-heading mb-4">What is REAL</h2>
            <div class="row">
                <div class="col-lg-6 mb-lg-0 mb-4">
                    <p class="description">
                        Welcome to the Real Estate Alliance League, – a community-driven real estate Decentralized
                        Autonomous Organization or DAO, where you can interact, learn, and contribute to the health
                        and success of our organization and its community. 
                        <i class="fa-solid fa-chevron-down"></i>
                    </p>
                    <p class="description">
                        REAL is a deflationary crypto utility token utilizing the Ethereum blockchain technology bringing
                        the security and transparency of its network to our members. There are no membership fees.
                        You become a member simply by holding REAL tokens. The more tokens held, the higher your
                        membership level.
                        <i class="fa-solid fa-chevron-down"></i>
                    </p>
                    <p class="description">
                        Profits from the token sales are invested into real estate rental properties. The organization then
                        generates passive income that will continue for the entire lifetime of the property.
                        <i class="fa-solid fa-chevron-down"></i>
                    </p>
                    <p class="description">
                        This passive income is then used to buy REAL tokens from the open market and eliminate them
                        with a process called “Token Burn”. This will create a lifetime of buying pressure for the token.
                        This act will continue to make the membership more exclusive over the years beyond its initial
                        market cap of 100 million tokens.
                        <i class="fa-solid fa-chevron-down"></i>
                    </p>
                    <p class="description">
                        Join a transparent, secure, and community-driven project that uses the latest blockchain
                        technology all while being powered by a supportive and active community.
                        <i class="fa-solid fa-chevron-down"></i>
                    </p>
                </div>
                <div class="col-lg-6">
                    <div class="h-100 d-flex ">
                        <video class="about_video" id="video" loop controls  style="width: 100%; height: auto;" autobuffer="true" poster="../../assets/images/tokenimg2.jpg">
                            <source src="/assets/videos/about1.mp4" type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center mt-4">
                <a routerLink="/about-us" class="readmore">
                    <span>Read More</span>
                    <img src="/assets/images/SVG_margin.png" alt="SVG Icon" />
                </a>
            </div>
        </div>
    </div>
</section>

<!-- Token Commitment Section -->
<section class="tokenCommitment text-center py-5">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center flex-lg-row flex-column">
            <h2 class="main-heading">Simple Attributes to REAL</h2>
            <span class="tokenImg">
                <img src="/assets/images/tokenimg2.png" />
            </span>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="card-wrapper">
                    <div class="d-flex align-items-center mb-3 gap-4">
                        <div class="icon-wrapper">
                            <img src="/assets/images/icon1.png" alt="Community" />
                        </div>
                        <div class="title">
                            No Membership Fee
                        </div>
                    </div>
                    <div class="description">
                        By using profits from token sales, building a stream of passive income
                        that allows REAL to provide platform services at no-cost to token holders/members.
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="card-wrapper">
                    <div class="d-flex align-items-center mb-3 gap-4">
                        <div class="icon-wrapper">
                            <img src="/assets/images/icon3.png" alt="Community" />
                        </div>
                        <div class="title">
                            Decentralized Creation
                        </div>
                    </div>
                    <div class="description">
                        REAL is minted on the Ethereum blockchain, ensuring transparency
                        and security through decentralized technology.
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="card-wrapper">
                    <div class="d-flex align-items-center mb-3 gap-4">
                        <div class="icon-wrapper">
                            <img src="/assets/images/icon3.png" alt="Community" />
                        </div>
                        <div class="title">
                            Community-Driven
                        </div>
                    </div>
                    <div class="description">
                        Our community is at the heart of REAL. Join us on Discord and Telegram
                        to discuss ideas and vote on important decisions that shape our project.
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="card-wrapper">
                    <div class="d-flex align-items-center mb-3 gap-4">
                        <div class="icon-wrapper">
                            <img src="/assets/images/icon2.png" alt="Community" />
                        </div>
                        <div class="title">
                            Token Mechanism
                        </div>
                    </div>
                    <div class="description">
                        REAL maintains a fixed supply of tokens to preserve value, with
                        mechanisms in place for token burning to reduce overall supply over time.
                    </div>
                </div>
            </div>
            
            <div class="d-flex justify-content-center">
                <a routerLink="/token-commitment" class="readmore">
                    <span>Read More</span>
                    <img src="/assets/images/SVG_margin.png" alt="SVG Icon" />
                </a>
            </div>
            
        </div>
    </div>
</section>

<!-- Community Section -->
<section class="community bg-light py-5">
    <div class="container">
        <div class="row">
            <h2 class="text-center main-heading">Join Our Community!</h2>
            <div class="col-lg-6 mx-auto">
                <div class="d-flex flex-column align-items-center ">
                    <div class="image-wrapper" >
                        <img src="/assets/images/communiy.png" />
                    </div>
                    <p class="description">
                        Whether you're new to crypto, new to real estate, or a seasoned investor, there's a place for you
                        at REAL. Explore opportunities to contribute to REAL community-driven initiatives.
                    </p>
                    <div class="d-flex justify-content-center">
                        <a routerLink="/community" class="readmore">
                            <span>Read More</span>
                            <img src="/assets/images/SVG_margin.png" alt="SVG Icon" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Contact Us  -->
<app-contact-form></app-contact-form>