<!-- Hero Section -->
<section class="hero text-center text-gray ">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-12 mx-auto">
                <h1 class="title">Welcome to REAL</h1>
                <h2 class="sub-title">REAL is a community-driven Real Estate DAO with a deflationary twist!</h2>
                <h3 class="options">
                    <span class="option1"> REAL Estate </span>
                    <span class="option2"> REAL Token </span>
                    <span class="option3"> REAL Value </span>
                </h3>
                <p class="description"> Our mission is to create a real world use-case on the Ethereum blockchain by
                    tokenizing the real-estate experience in the form of a deflationary crypto token. </p>
            </div>
        </div>
    </div>
</section>

<!-- About Section -->
<section class="about bg-light py-5">
    <div class="container">
        <div class="wrapper">
            <h2 class="text-center main-heading mb-4">What is REAL</h2>
            <div class="row">
                <div class="col-lg-6 mb-lg-0 mb-4">
                    <div id="accordion">
                        <div class="card mb-3">
                            <div class="card-header d-flex justify-content-between" id="headingOne"
                                data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true"
                                aria-controls="collapseOne">
                                What is REAL?
                                <i class="fa-solid fa-chevron-down"></i>
                            </div>

                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                                data-parent="#accordion">
                                <div class="card-body">
                                    The Real Estate Alliance League (REAL) is a community-driven real estate
                                    Decentralized Autonomous Organization (DAO) where members collaborate, learn, and
                                    contribute to the organization’s growth and vision.
                                </div>
                            </div>
                        </div>

                        <div class="card mb-3">
                            <div class="card-header d-flex justify-content-between" id="headingTwo"
                                data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true"
                                aria-controls="collapseTwo">
                                What makes REAL unique?
                                <i class="fa-solid fa-chevron-down"></i>
                            </div>

                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                data-parent="#accordion">
                                <div class="card-body">
                                    REAL operates as a deflationary crypto utility token on the Ethereum blockchain,
                                    offering security and transparency through its network. There are no membership
                                    fees; holding REAL tokens automatically grants membership, with benefits increasing
                                    based on the number of tokens held.
                                </div>
                            </div>
                        </div>

                        <div class="card mb-3">
                            <div class="card-header d-flex justify-content-between" id="headingThree"
                                data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true"
                                aria-controls="collapseThree">
                                How does REAL operate?
                                <i class="fa-solid fa-chevron-down"></i>
                            </div>

                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                data-parent="#accordion">
                                <div class="card-body">
                                    REAL focuses on acquiring and managing real estate rental properties. These
                                    properties provide ongoing support to the organization and its members through their
                                    continuous contribution to the ecosystem.
                                </div>
                            </div>
                        </div>

                        <div class="card mb-3">
                            <div class="card-header d-flex justify-content-between" id="headingFour"
                                data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true"
                                aria-controls="collapseFour">
                                What is Token Burn, and why is it important?
                                <i class="fa-solid fa-chevron-down"></i>
                            </div>

                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                                data-parent="#accordion">
                                <div class="card-body">
                                    REAL employs a process called "Token Burn," where tokens are purchased from the open
                                    market and permanently removed. This mechanism enhances the exclusivity of
                                    membership and aligns with the project’s long-term vision.
                                </div>
                            </div>
                        </div>

                        <div class="card mb-3">
                            <div class="card-header d-flex justify-content-between" id="headingFive"
                                data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="true"
                                aria-controls="collapseFive">
                                Why should you choose REAL?
                                <i class="fa-solid fa-chevron-down"></i>
                            </div>

                            <div id="collapseFive" class="collapse" aria-labelledby="headingFive"
                                data-parent="#accordion">
                                <div class="card-body">
                                    REAL combines cutting-edge blockchain technology with a community-driven approach,
                                    creating an innovative platform backed by active participation and shared goals.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <video class="about_video" id="video" loop controls style="width: 100%; height: auto;"
                        autobuffer="true"
                        poster="https://res.cloudinary.com/db8yg1ovm/image/upload/v1733922182/RealState/zmpzy3gaugbue9adcm9l.webp">
                        <source src="/assets/videos/about.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
            <div class="d-flex justify-content-center mt-4">
                <a routerLink="/about-us" class="readmore">
                    <span>Read More</span>
                    <img src="/assets/images/SVG_margin.webp" alt="SVG Icon" />
                </a>
            </div>
        </div>
    </div>
</section>

<!-- Token Commitment Section -->
<section class="tokenCommitment text-center py-5">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center flex-lg-row flex-column">
            <h2 class="main-heading">Simple Attributes to REAL</h2>
            <span class="tokenImg">
                <img src="/assets/images/tokenimg2.png" />
            </span>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="card-wrapper">
                    <div class="d-flex align-items-center mb-3 gap-4">
                        <div class="icon-wrapper">
                            <img src="/assets/images/icon1.png" alt="Community" />
                        </div>
                        <div class="title">
                            No Membership Fee
                        </div>
                    </div>
                    <div class="description">
                        By using profits from token sales, building a stream of passive income
                        that allows REAL to provide platform services at no-cost to token holders/members.
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="card-wrapper">
                    <div class="d-flex align-items-center mb-3 gap-4">
                        <div class="icon-wrapper">
                            <img src="/assets/images/icon3.png" alt="Community" />
                        </div>
                        <div class="title">
                            Decentralized Creation
                        </div>
                    </div>
                    <div class="description">
                        REAL is minted on the Ethereum blockchain, ensuring transparency
                        and security through decentralized technology.
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="card-wrapper">
                    <div class="d-flex align-items-center mb-3 gap-4">
                        <div class="icon-wrapper">
                            <img src="/assets/images/icon3.png" alt="Community" />
                        </div>
                        <div class="title">
                            Community-Driven
                        </div>
                    </div>
                    <div class="description">
                        Our community is at the heart of REAL. Join us on Discord and Telegram
                        to discuss ideas and vote on important decisions that shape our project.
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="card-wrapper">
                    <div class="d-flex align-items-center mb-3 gap-4">
                        <div class="icon-wrapper">
                            <img src="/assets/images/icon2.png" alt="Community" />
                        </div>
                        <div class="title">
                            Token Mechanism
                        </div>
                    </div>
                    <div class="description">
                        REAL maintains a fixed supply of tokens to preserve value, with
                        mechanisms in place for token burning to reduce overall supply over time.
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-center">
                <a routerLink="/token-commitment" class="readmore">
                    <span>Read More</span>
                    <img src="/assets/images/SVG_margin.webp" alt="SVG Icon" />
                </a>
            </div>

        </div>
    </div>
</section>

<!-- Community Section -->
<section class="community bg-light py-5">
    <div class="container">
        <div class="row">
            <h2 class="text-center main-heading">Join Our Community!</h2>
            <div class="col-lg-6 mx-auto">
                <div class="d-flex flex-column align-items-center ">
                    <div class="image-wrapper">
                        <img src="/assets/images/communiy.png" />
                    </div>
                    <p class="description">
                        Whether you're new to crypto, new to real estate, or a seasoned investor, there's a place for
                        you
                        at REAL. Explore opportunities to contribute to REAL community-driven initiatives.
                    </p>
                    <div class="d-flex justify-content-center">
                        <a routerLink="/community" class="readmore">
                            <span>Read More</span>
                            <img src="/assets/images/SVG_margin.webp" alt="SVG Icon" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Contact Us  -->
<app-contact-form></app-contact-form>